main {
  width: 800px;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

span {
  display: inline-block;
  font-weight: bold;
  min-width: 140px;
  text-align: right;
  margin-right: 8px;
}

label {
  max-width: 790px;
  column-count: 2;
  padding: 4px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

input,
select {
  line-height: 100%;
  padding: 0.3rem;
  margin: 0.3rem;
}

input[type='checkbox'] {
  content: '';
  background: #d8d8d8;
}

input[type='range'] {
  height: 32px;
  -webkit-appearance: none;
  width: 100%;
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 1px;
  cursor: pointer;
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 14px;
  width: 22px;
  border-radius: 4px;
  background: #dadada;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.interests {
  display: block;
  margin-right: 300px;
}
.interestsList {
  margin-left: 140px;
  display: flex;
  flex-flow: row wrap;
}

.age {
  max-width: 400px;
  display: flex;
  align-content: stretch;
  flex-flow: column nowrap;
}

.age div {
  display: flex;
  width: 440px;
  justify-content: space-between;
}
.age span {
  text-align: left;
  min-width: initial;
}

.buttonDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}
